@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000814;
}

/*.clock{
  width: 70vw;
  height: 20vh;
  border: 1px solid white;
}*/

.clock .time{
  display: flex;
}

.clock .time div{
  position: relative;
  margin: 0 5px;
  -webkit-box-reflect: below 10px linear-gradient(transparent, #0003);
}

.clock .time div span{
  position: relative;
 /* display: block;*/
  height: 80px;
  width: 100px; 
  background: #001D4D;
  color: #fff;
  display: flex;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 35px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .3)
}

.clock .time div span:nth-child(2){
  height: 30px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  box-shadow: none;
  z-index: 9;
  background: #001D3D;
  text-transform: uppercase;
}

.clock .time div:last-child span{
  background: #EF233C;
}

.clock .time div:last-child span:nth-child(2){
  background: #EF244C;
}
@media screen and (min-width:500px){
  .clock .time div{
    margin: 0 10px;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0003);
  }
  
  .clock .time div span {
    height: 200px;
    width: 250px;
    font-weight: 700;
    z-index: 10;
    font-size: 70px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .5)
    }
  }
  .clock .time div span:nth-child(2) {
    height: 50px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 700;
    box-shadow: none;
    z-index: 9;
  }
  
}


